<!DOCTYPE html>
<meta charset="utf-8">

<link href="./public/css/nv.d3.css" rel="stylesheet" type="text/css">
<link href="./public/css/bootstrap.css" rel="stylesheet">
<link href="./public/css/bootstrap-responsive.css" rel="stylesheet">

<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

#date_move_left_ctl {
  margin-left: 20px;
}
#date_move_right_ctl {
  margin-right: 20px;
}
</style>
<body>

<form class="form-inline">
{{$path := .path}}
{{$endUnix := .endUnix}}
  <div id="date_range_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      &larr;&rarr;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{range .durations}}
      <li><a href="chart?path={{$path}}&end={{$endUnix}}&duration={{.}}">{{.}}</a></li>
      {{end}}
    </ul>
  </div>

  <div id="date_move_left_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      &larr;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{range .durations}}
      <li><a href="javascript:older('{{.}}')">&larr;{{.}}</a></li>
      {{end}}
    </ul>
  </div>

  <div id="date_move_right_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      &rarr;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{range .durations}}
      <li><a href="javascript:newer('{{.}}')">{{.}}&rarr;</a></li>
      {{end}}
    </ul>
  </div>

  <input id="path" type="text" value="{{.path}}" data-provide="typeahead" data-source='[{{range $i, $e := .infos}}{{if $i}},{{end}}"{{$e.Name}}"{{end}}]'>
  <input type="hidden" name="duration" value="{{.duration}}" id="duration"></input>
  <input type="hidden" name="end" value="{{.endUnix}}" id="end"></input>
</form>

  <div id="chart1">
    <svg style="height: 400px;"></svg>
  </div>

<script src="./public/js/jquery-1.9.1.min.js"></script>
<script src="./public/js/bootstrap.min.js"></script>
<script src="./public/js/d3.v3.js"></script>
<script src="./public/js/nv.d3.js"></script>
<script>



function rejectNaN(data) {
  var result = [];
  for (var i = 0, len = data.length; i < len; ++i) {
    var d = data[i];
    if (!isNaN(d.y))
      result.push(d);
  }
  return result;
}

// Wrapping in nv.addGraph allows for '0 timeout render', stores rendered charts in nv.graphs, and may do more in the future... it's NOT required
var chart;

nv.addGraph(function() {
  chart = nv.models.lineChart();

  chart
      .x(function(d,i) { return d.x })


  chart.xAxis // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
      .ticks(d3.time.hours, 2)
      .tickSubdivide(1)
      .tickFormat(function(d) {
        return d3.time.format('%a %H:%M')(new Date(d))
      });

  chart.yAxis
      .axisLabel('Voltage (v)')
      .tickSubdivide(1)
      .tickFormat(d3.format(',.2f'));

  d3.tsv("v1/data.tsv?path={{.path}}&cf={{.cf}}&duration={{.duration}}&end={{.endUnix}}", function(error, data) {
    d3.select('#chart1 svg')
        .datum([
          {
            values: rejectNaN(data),
            key: "rrd value",
            color: "#2ca02c"
          }
        ])
      .transition().duration(500)
        .call(chart);
    
  }).row(function(d) { return {x: 1000 * d.date, y: +d.value}; })


  //TODO: Figure out a good way to do this automatically
  nv.utils.windowResize(chart.update);
  //nv.utils.windowResize(function() { d3.select('#chart1 svg').call(chart) });

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

var re = /(\d+(\.\d*)?|\.\d+)(Y|M|d|h)/g;
var unitSecondsMap = {
  Y: 366 * 24 * 3600,
  M: 31 * 24 * 3600,
  d: 24 * 3600,
  h: 3600
};

function seconds(duration) {
  var matches;
  var seconds = 0;
  while ((matches = re.exec(duration)) !== null) {
    seconds += parseFloat(matches[1]) * unitSecondsMap[matches[3]];
  }
  return seconds;
}

function pad(number) {
  var r = String(number);
  return r.length === 1 ? '0' + r : r;
}

function formatDate(date) {
  return date.getUTCFullYear()
    + '-' + pad(date.getUTCMonth() + 1)
    + '-' + pad(date.getUTCDate())
    + ' ' + pad(date.getUTCHours())
    + ':' + pad(date.getUTCMinutes());
}

function older(duration) {
  console.log('older path=' + $('#path').val() + ', end=' + $('#end').val() + ', duration=' + duration + '!');
  var end = $('#end').val();
  end = end === '' ? new Date() : new Date(parseFloat(end) * 1000);
console.log('end date=' + end);
console.log('new end time=' + end.getTime() - seconds(duration) * 1000);
  end = formatDate(new Date(end.getTime() - seconds(duration) * 1000));
console.log('new end=' + end);
  location.href = 'chart?path=' + $('#path').val()
    + '&duration=' + $('#duration').val() + '&end=' + end;
}

function newer(duration) {
  console.log("newer path=" + $("#path").val() + ", end=" + $("#end").val() + "!");
  var end = $('#end').val();
  end = end === '' ? new Date() : new Date(parseFloat(end) * 1000);
  end = formatDate(new Date(end.getTime() + seconds(duration) * 1000));
  location.href = 'chart?path=' + $('#path').val()
    + '&duration=' + $('#duration').val() + '&end=' + end;
}

$(function() {
  $('form').submit(function() {
    location.href = 'chart?path=' + $('#path').val()
      + '&duration=' + $('#duration').val() + '&end=' + $('#end').val();
    return false;
  });
});
</script>
