<!DOCTYPE html>
<meta charset="utf-8">

<link href="./public/css/nv.d3.css" rel="stylesheet" type="text/css">
<link href="./public/css/bootstrap.css" rel="stylesheet">
<link href="./public/css/bootstrap-responsive.css" rel="stylesheet">

<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

#date_move_left_ctl {
  margin-left: 20px;
}
</style>
<body>

  <div id="chart1">
    <svg style="height: 500px;"></svg>
  </div>

<form class="form-inline">
  <div id="date_range_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      1h
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">1h</a></li>
      <li><a href="#">2h</a></li>
      <li><a href="#">3h</a></li>
      <li><a href="#">6h</a></li>
      <li><a href="#">12h</a></li>
      <li><a href="#">1d</a></li>
      <li><a href="#">7d</a></li>
      <li><a href="#">14d</a></li>
      <li><a href="#">1m</a></li>
      <li><a href="#">3m</a></li>
      <li><a href="#">6m</a></li>
      <li><a href="#">1y</a></li>
      <li><a href="#">all</a></li>
    </ul>
  </div>

  <div id="date_move_left_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      &larr;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">&larr;1h</a></li>
      <li><a href="#">&larr;2h</a></li>
      <li><a href="#">&larr;3h</a></li>
      <li><a href="#">&larr;6h</a></li>
      <li><a href="#">&larr;12h</a></li>
      <li><a href="#">&larr;1d</a></li>
      <li><a href="#">&larr;7d</a></li>
      <li><a href="#">&larr;14d</a></li>
      <li><a href="#">&larr;1m</a></li>
      <li><a href="#">&larr;3m</a></li>
      <li><a href="#">&larr;6m</a></li>
      <li><a href="#">&larr;1y</a></li>
    </ul>
  </div>

  <div id="date_move_right_ctl" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      &rarr;
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">1h&rarr;</a></li>
      <li><a href="#">2h&rarr;</a></li>
      <li><a href="#">3h&rarr;</a></li>
      <li><a href="#">6h&rarr;</a></li>
      <li><a href="#">12h&rarr;</a></li>
      <li><a href="#">1d&rarr;</a></li>
      <li><a href="#">7d&rarr;</a></li>
      <li><a href="#">14d&rarr;</a></li>
      <li><a href="#">1m&rarr;</a></li>
      <li><a href="#">3m&rarr;</a></li>
      <li><a href="#">6m&rarr;</a></li>
      <li><a href="#">1y&rarr;</a></li>
    </ul>
  </div>
</form>

<script src="./public/js/jquery-1.9.1.min.js"></script>
<script src="./public/js/bootstrap.min.js"></script>
<script src="./public/js/d3.v3.js"></script>
<script src="./public/js/nv.d3.js"></script>
<script>



function rejectNaN(data) {
  var result = [];
  for (var i = 0, len = data.length; i < len; ++i) {
    var d = data[i];
    if (!isNaN(d.y))
      result.push(d);
  }
  return result;
}

// Wrapping in nv.addGraph allows for '0 timeout render', stores rendered charts in nv.graphs, and may do more in the future... it's NOT required
var chart;

nv.addGraph(function() {
  chart = nv.models.lineChart();

  chart
      .x(function(d,i) { return d.x })


  chart.xAxis // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
      .ticks(d3.time.hours, 2)
      .tickSubdivide(1)
      .tickFormat(function(d) {
        return d3.time.format('%a %H:%M')(new Date(d))
      });

  chart.yAxis
      .axisLabel('Voltage (v)')
      .tickSubdivide(1)
      .tickFormat(d3.format(',.2f'));

  d3.tsv("v1/data.tsv?{{.query}}", function(error, data) {
    d3.select('#chart1 svg')
        .datum([
          {
            values: rejectNaN(data),
            key: "rrd value",
            color: "#2ca02c"
          }
        ])
      .transition().duration(500)
        .call(chart);
    
  }).row(function(d) { return {x: 1000 * d.date, y: +d.value}; })


  //TODO: Figure out a good way to do this automatically
  nv.utils.windowResize(chart.update);
  //nv.utils.windowResize(function() { d3.select('#chart1 svg').call(chart) });

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>
